.search {
  margin: 14rem auto 0 5rem;
  &__subDiv {
    padding: 1rem 0 0 0;
    &-searchtag {
      padding: 0.5rem;
      border-radius: 10px;
      box-shadow: 0px 2px 14px RGB(0 0 0/14%);
      border: 1px solid white;
    }
    &-innerDiv{
      display: flex;
      align-items: center;
      justify-self: flex-start;
      gap: 2rem;
    }
  }
  &__headerDiv {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    text-decoration: underline;
    padding: 1rem 0 0 0;
    &-closeImg {
      width: 0.8rem;
      height: 0.8rem;
    }
  }
  &__tilesDiv{
    border-radius: 18px;
    box-shadow: 0px 2px 14px RGB(0 0 0/14%);
    padding: 4rem;
    border: 1px solid white;
    margin: 1rem 2rem 2rem 0;
  }
}
