.toaster {
    position: fixed;
    top: 5rem;
    left: 0;
    right: 0;
    width: max-content;
    max-width: 50%;
    text-align: center;
    padding: 0.7rem;
    margin: auto;
    z-index: 9999;
    border-radius: 3px;
    color: black;
    font-size: 1.2rem;
    word-break: break-word;
    &__success {
        background-color: #1bc12e;
    }

    &__warning {
        background-color: orange;
    }

    &__error {
        background-color: #e11d34;
    }
}